*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
body{
    font-family: 'Open Sans','Poppins','Raleway', 'Optima Prime', Arial, Helvetica, sans-serif, myFirstFont;
    background-color: #FEFAE7;
}
@font-face {
    font-family: myFirstFont;
    src: url(Goku.ttf);
}

/* Dropdown container */
.dropdown {
    position: relative;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #39362A;
    top: 70px; /* positions below the nav bar */
    right: 0;
    min-width: 200px;
    z-index: 999;
  }
  
  /* Dropdown links styling */
  .dropdown-content li {
    display: block;
    line-height: 1.5;
  }
  
  .dropdown-content li a {
    display: block;
    padding: 12px 20px;
    color: #F3CD18;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dropdown-content li a:hover {
    background-color: #2e2b22;
    color: #FEFAE7;
  }
  
.subject{
    padding-top: 8%;
}
.subject h2{
    font-family: myFirstfont;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
.subject-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns */
    gap: 60px; /* Adjust gap between images */
    margin: 0 20px;
    position: absolute;
    justify-content: center; 
    align-items: center;
    margin-top: 30px;
    margin-left: 15%;
    margin-top: 40px;
}

.subject-container {
    width: 200px;
    height: 300px;
    background-color: #39362A;
    padding: 20px;
    font-family: optima;
    border-radius: 10px;
    text-align: center; /* Center text horizontally */
}

.subject-container i {
    font-size: 150px;
    color: #F3CD18;
}

.subject-container h1 {
    color: #FEFAE7;
    margin-bottom: 10px;
}

.subject-container button {
    width: 120px;
    height: 30px;
    background-color: #F3CD18;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.subject-container button:hover{
    background-color: #FEFAE7;
    color: #39362A;
}

